$color-fondo-header: linear-gradient(90deg, #6cc3f1, #edebeb);
$color-principal: linear-gradient(90deg, #4650a8, #ccc);
$color-texto-cobertura: white;
$color-titulo: #7fdddd;
$font-weight: bold;

/* formularios */
$borde: white;

/* footer */
$color-letra:#222;
$tamano-letra: 12px;